<body>
	<div class="container">
		<div class="vertical-center-row">
			<h2 >
				MUNtopia is a collaborative platform for MUN delegates to draft resolutions, add amendments, and send messages
				to one another. 
			<h3 >
				Instructions:
			</h3>
			<ol >
				<li> Create an organization. Record your admin code and join code. </li>
				<li> Create an admin account, using the Country "admin" and the admin code. </li>
				<li> Have your student delegations create accounts using the join code. </li>
				<li> If you have several committees, consider making an individual organization for each one, so that note sending and resolution drafting remains private within each committee. </li>
				<li> If you do not want to make seperate organizations, make sure you give each delegation its own country name, i.e. "USA-1" so that each delegation can be distinguished from one another. </li>
				<li> Only the admin can change the status of amendments and resolutions to "Passed." </li>
			</oL>
			<h2>
				Questions? Comments? Concerns? Email me at <a href="mailto:tut@seas.upenn.edu">tut@seas.upenn.edu</a>
			</h2>
			<p> Disclaimer: MUNtopia is not ssl protected. Do not store any private information on this site. It is highly recommended that you use a completely original password instead of recycling a previous one for use on this site.
		</div>
	</div>
</div>

