
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h1>Editing Resolution</h1>
			<%= render 'form' %>
		</div>
		<div class="col-md-5 col-md-offset-1">
			<h1>Example Resolution</h1>
			<h4> Title: Resolution GA/3/1.1 </h4>
			<h4> Body:</h4>
			<img src="/assets/draft_res.jpg" alt="Draft Resolution" style="width:400px;height:600px;" border="5">
		</div>
	</div>
</div>
